
###> symfony/framework-bundle ###
.env
/.env
/.env.local.php
/.env.*.local

/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Sensitive files with API keys
SENDGRID_403_FIX.txt

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###

###< symfony/asset-mapper ###
