{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/admin/css/style.css') }}"> {# Ajoute CSS du template #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/admin/js/script.js') }}"></script> {# Ajoute JS #}
{% endblock %}

{% block body %}
    {% include 'admin/partials/navbar.html.twig' %}
    <div class="flex">
        {% include 'admin/partials/sidebar.html.twig' %}
        <main class="flex-1 p-6">
            {% block admin_content %}{% endblock %}
        </main>
    </div>
    {% include 'admin/partials/footer.html.twig' %}
{% endblock %}